.topbar {
	display: flex;
	flex: 0 1 auto;
	align-items: center;
	padding: 0 24px;
	width: 100%;
	height: 60px;
	background: #000;
    .button {
        color: rgba(#fff, .5);
        font-weight: 600;
        &:hover {
        	color: rgba(#eee, 1);
        }
    }
}
