.topbar {
    nav {
        display: flex;
        flex: 1;
    }
    a {
        margin-right: 24px;
        color: rgba(#eee, .5);
        font-weight: 500;
        &:hover {
        	color: rgba(#eee, 1);
        }
    }
    a.active {
        color: rgba(#eee, 1);
    }
}
