.form {
  &__input {
    margin-top: 5px;

    label {
      width: 120px;
      text-align: right;
      display: inline-block;
      padding-right: 5px;
    }
  }

  &__submit {
    background-color: #17ff87
  }

  .FormError {
    color: #ff6166;
    padding-left:  125px;
  }
}