.home {
    .hero-unit {
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .react-logo {
        display: block;
        flex: none;
        overflow: hidden;
        clear: both;
        width: 100%;
        height: 96px;
        margin-bottom: 24px;
        background: url(react_logo.svg);
        background-repeat: no-repeat;
        background-size: 96px 96px;
        background-position: center;
    }
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(480px - 60px);
        background: url('http://cdn1.wallpapersok.com/uploads/picture/412/285/285412/picture-285412.jpg?width=2048&height=1148&crop=true');
        background-size:cover;
        background-position: 50% 50%;

        .hero-unit {
            margin-bottom: 24px;
        }
        .react-logo {}
        h1 {
            font-weight: 700;
            color: #fff;
        }
        h4 {
            color: #fff;
            font-weight: 400;
        }
        @media screen and (max-width: 960px) {
            padding: 24px;
            text-align: center;
            h1 {
                font-size: 6vmax;
            }
        }
    }
    main {
        display: flex;
        flex-flow: row wrap;
        min-width: 960px;
        max-width: 960px;
        margin: 0 auto;
        padding: 96px 0;
        .section-header {
            flex: 0 1 auto;
            width: 100%;
            padding-bottom: 72px;
            text-align: center;
            color: #000;
            h3 {
                font-weight: 700;
                color:#efec98;
            }
            &.faq {
                margin-top: 48px;
                .title {
                    font-weight: 700;
                }
                .undertitle {
                    text-align: center;
                }
                ul {
                    display: flex;
                    flex: 1;
                    flex-flow: row nowrap;
                    width: 100%;
                    max-width: 720px;
                    margin: 36px auto 0 auto;
                    li {
                        display: flex;
                        flex: 1;
                        align-content: center;
                        justify-content: center;
                    }
                    @media screen and (max-width: 960px) {
                        flex-flow: column;
                        li {
                            flex: 0 1 auto;
                            width: 100%;
                            margin-bottom: 18px;
                        }
                    }
                }
            }
            hr {
                border: none;
                height: 1px;
                color: #ddd;
                background-color: #ddd;
                margin: 24px auto 0px;
                max-width: 96px;
            }
        }
        .boilerplate-item {
            display: flex;
            flex: 0 1 auto;
            flex-flow: row nowrap;
            width: calc(50% - 48px);
            margin-right: 48px;
            margin-bottom: 48px;
            .boilerplate-logo {
                display: flex;
                width: 80px;
                height: 80px;
                margin-right: 24px;
                background: url(react.png);
                background-repeat: no-repeat;
                background-size: contain;
                &.mobx {
                    background: url(mobx.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.reactrouter {
                    background: url(reactrouter.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.webpack {
                    background: url(webpack.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
            .boilerplate-item-content {
                flex: 1;
            }
            h4 {
                font-weight: 500;
                color: #000;
            }
            small {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
                color: #999;
            }
            p {
                margin-top: 12px;
            }
        }
        @media screen and (max-width: 960px) {
            min-width: 100%;
            max-width: 100%;
            padding: 48px 24px;
            .boilerplate-item {
                flex: 0 1 auto;
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

.start-buttons {
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    margin: 36px 0;
    justify-content: center;
    align-items: center;
}

.start-buttons a {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    border-radius: 2px;
    border: 1px solid #000;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    &:before {
        content: '';
        width: 24px;
        height: 24px;
        margin-right: 12px;
        background: url(GitHub-Mark-32px.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &:hover {
        background: #000;
        color: #fff;
        &:before {
            background: url(GitHub-Mark-Light-32px.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
