.faq {
  &-item {
    text-align: left;
    border: 2px solid #efec98;
    border-radius: 3px;
    padding: 10px 15px;
    margin-bottom: 10px;


    &__title {
      color: #efec98;
      font-size: 20px;
      cursor: pointer;
    }

    &__desc {
      font-size: 14px;
    }
  }
}