*, *:before, *:after {
  box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

.wrapper {
	min-height: 100vh;
	background-color:#000;
}

#root, .wrapper, .page, .authComponent {
	display: flex;
	flex-direction: column;
	flex: 1;
}

footer {
	display: flex;
	flex: 0 1 auto;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	padding: 18px 0;
	border-top: 1px solid #eee;
	font-size: 13px;
	color: #666;
	a {
		margin-left: .5ch;
		&:first-child {
		margin-right: .5ch;
		}
	}
}

.w100p {
	width: 100%;
}